body {
  background-color: black;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 22px;
  color: seashell;
  margin: 0;
}

/* Navigation */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 69px;
  border-bottom: solid 1px seashell;
  position: fixed;
  z-index: 999;
  width: 100%;
  background-color: black;
}

.logo {
  height: 50px;
  margin-left: 10px;
  opacity: 0.9;
}

ul {
  list-style: none;
}

li {
  display: inline-block;
  margin-right: 60px;
}

a:visited {
  color: seashell;
}

/* Header */

.background-and-headline{
  position: relative;
  text-align: center;
  justify-content: center;
}

.background-image {
  display: block;
  width: 90%;
  margin: 0px auto;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: black;
  width: 100%;
  text-align: center;
}

/* Heading Tea Sorts */

.tea-sorts {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 40px;
}

.tea-sorts h4 {
  margin-top: 0;
}

/* Container Tea Sorts */

.container {
  width: 60%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto 50px auto;
}

.image-container {
  margin: 10px;
  text-align: center;
}

.image {
  width: 300px;
  height: 200px;
}

.image-container h4 {
  margin: 10px 10px 10px 10px;
}

/* Locations */

.location-container {
  text-align: center;
  justify-content: center;
}

.boxes-container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.image-container-location {
  z-index: 1;
  background-image: url(/images/img-locations-background.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  width: 90%;
  margin: 0px auto;
  position: relative;
}

.background-location-headline {
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
}

.boxes {
  position: absolute;
  display: flex;
  flex-direction: row;
  top: 18%;
  z-index: 4;
  margin: 25px 20px 30px 20px;
}

.location-box {
  background-color: black;
  width: 300px;
  height: 260px;
  margin: 20px;
}

.location-box h4 {
  font-weight: 200;
}

/* Footer */

.adress-container {
  padding: 20px;
  height: 180px;
  text-align: center;
  margin: 0;
}

.copyright {
  text-align: left;
  margin-left: 20px;
}